/* default variable & atribut */
/*color*/
/* font */
/*atribut*/
.badge-item, .btn-folio-outline, .btn-folio, .btn-folio-sm {
  border-radius: 50px;
}

.logo-brand-folio {
  box-shadow: 3px 3px 10px #333;
}

.badge-item, .contact h2.lineleft::before {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.125);
}

.contact {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.contact h2.lineleft::before, .btn-folio-primary, .content h2.lineleft::before {
  background-image: linear-gradient(to bottom left, #158040 35%, #D3DE36);
}

.contact {
  background-image: linear-gradient(to bottom left, #349946, #1A4790) !important;
}

.content h2 {
  position: relative;
  padding-left: 0.7rem;
}
.content h2.lineleft::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  padding: 1px;
  width: 3px;
  height: 100%;
}

/* end default variable & atribut */
/* default animation */
/* end default animation */
/* font */
h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
  font-weight: bold;
}

h5 {
  font-size: 16px !important;
  font-weight: bold;
}

p {
  font-size: 12px;
}

/* layout */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
  color: #333;
}

.container {
  max-width: 85%;
}

section {
  padding: 2rem 0rem;
}

/* component */
img {
  width: 100%;
}

.scrollTop {
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: scale 0.5s;
  -ms-transition: scale 0.5s;
  transition: scale 0.5s;
}

.scrollTop.show {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  transition: transform 0.5s;
}

.btn-folio, .btn-folio-sm {
  border: none;
  padding: 0.75rem 1rem;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.125);
  font-weight: bold !important;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn-folio-outline {
  border: 1px solid #158040;
  color: #158040;
  padding: 0.2rem 0.7rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.125);
  font-weight: bold !important;
  background-color: white;
  -webkit-transition: background-color 0.8s ease-out;
  -ms-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}
.btn-folio-outline:hover {
  border: 1px solid #158040;
  color: white;
  background-color: #158040;
}
.btn-folio:hover, .btn-folio-sm:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.btn-folio-primary {
  color: white !important;
}

.btn-folio-sm {
  padding: 0.2rem 1rem !important;
}

/* navbar */
.logo-brand-folio,
.title-brand-folio {
  display: inline-block;
}

.logo-brand-folio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.title-brand-folio {
  padding-left: 15px;
}
.title-brand-folio h5,
.title-brand-folio p {
  margin: 0px;
}

/* contact */
.contact {
  color: #f3f3f3;
}
.contact h2 {
  position: relative;
  padding-left: 0.7rem;
}
.contact h2.lineleft::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  padding: 1px;
  width: 3px;
  height: 100%;
}
.contact .text-muted {
  color: #f3f3f3 !important;
}
.contact textarea {
  height: 182px;
}
.contact .form-submit {
  padding: 50px 0px;
  text-align: center;
}

/* social media */
.badge-item {
  color: #f3f3f3;
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 0.7rem 0.7rem;
  margin: 0rem 0.1rem;
  width: 50px;
  height: auto;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.badge-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: white;
}
.badge-item.linkedin {
  background-color: #4267B2;
}
.badge-item.github {
  background-color: #333;
}
.badge-item.medium {
  background-color: black;
}
.badge-item.instagram {
  background-image: linear-gradient(to bottom left, #c17afc, #f42e78);
}

/* end social media */
/* footer */
footer {
  padding: 15px 0px;
  background-color: #333;
  color: #f3f3f3;
}
footer p {
  margin-bottom: 0px;
  font-size: 1rem;
}
footer .btn-link {
  color: #f3f3f3;
  padding: 0.375rem 0.2rem;
}

@media (min-width: 991.98px) {
  /* font */
  h1 {
    font-size: 2.8rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h5 {
    font-size: 1.25rem !important;
  }

  p {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 1.25rem;
    margin: 0rem 1rem 0rem 0rem;
  }

  /* end font */
  /* layout */
  section {
    padding: 5rem 0rem;
  }

  /* jumbotron */
  .jumbotron {
    text-align: left;
    padding-top: 150px;
  }
  .jumbotron .profile-img-md {
    display: block;
    width: 421.667px;
    position: absolute;
    bottom: 0px;
    right: 18%;
  }
  .jumbotron .profile-img-sm {
    display: none;
  }
  .jumbotron .lead {
    font-size: 20px;
    margin: 50px 0px;
  }
  .jumbotron .lead .job {
    font-size: 1.8rem;
  }
  .jumbotron .footer .btn {
    display: block;
    font-size: 18px !important;
  }

  /* end jumbotron */
  /* skills */
  .skills .body {
    margin-top: 100px;
  }

  .skill-group li {
    font-size: 18px;
    margin-bottom: 25px;
  }

  /* end skills */
  /* experiences */
  .experiences .row {
    background-color: #e9ecef;
  }

  .btn-folio-outline {
    padding: 0.5rem 1rem;
  }

  /* end experiences */
  /* projects */
  .projects .col-md:nth-child(odd) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .projects .body {
    padding-top: 50px;
  }
  .projects .footer {
    padding-top: 50px;
  }

  /* end projects */
  /* social media */
  .badge-item {
    margin: 0rem 0.5rem;
  }

  /* end social media */
}
.navbar {
  border-bottom: 1px solid #333;
}

/* content */
.content {
  padding-top: 150px;
}
.content .banner {
  padding: 20px 0px 30px;
}

/*# sourceMappingURL=detail.css.map */
