.project-card {
  height: 240px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    height: 390px;
  }

  &:hover .card-body {
    display: block;
  }

  .card-img-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-body {
    --bs-bg-opacity: 0.5;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
  }

  .card-title > a {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none !important;
    color: $white;
  }
}
