@import "default";
/* navbar folio toogle on scroll */
.navbar-folio-toogle{
  opacity: 0;
  top:-40px;
  border-bottom: 1px solid $color-darkgrey;
  @include transition(all 0.5s);

  &.show{
    top:0px;
    opacity: 1;
  }
}

.collapse-folio .nav-link{
  color: $color-darkgrey !important;
}
/* end navbar folio toogle on scroll */

/* navbar */
.navbar{
  .container{
    padding: 0rem;
  }

  &-brand{
    font-size: $font-medium;
    color:white !important;
    @extend %font-shadow;
    font-weight: bold;
    margin: auto;
  }
}

.nav-item{
  text-align: center;
}
/* end navbar */

/* navbar-folio */
.navbar-folio{
  position: relative;
  z-index: 1;
  text-transform: uppercase;

  .nav-link{
    color:$color-lightgrey !important;
    @extend %font-shadow;
    text-decoration: none;
    padding: 0.5rem 0rem !important;
    margin-right: 1.8rem;
    position: relative;

    &.active,
    &:hover{
      font-weight: bold;
    }

    &.active::after,
    &:hover::after{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: #1bcb3b;
      border-radius: 20px;
      padding:1px;
      position: absolute;
      top:15px;
      left: -15px;
      box-shadow: 1px 1px 1px rgba(0,0,0,.4);
    }
  }
  /* end nav-link */
}
/* end navbar-folio */

/* jumbotron */
.jumbotron{
  %fontstyle-share{
    text-transform: uppercase;
    font-weight: bold;
  }

  position: relative;
  text-align: center;
  margin-top: -65px;
  padding-top: 80px;
  color:$color-lightgrey;
  @extend %font-shadow;
  background-image: linear-gradient( 190deg, #349946, #1A4790);

  .title{ @extend %fontstyle-share; }
  .lead{
    font-size: 12px;
    .job{
      @extend %fontstyle-share;
      font-size: $font-medium;
      display: block;
    }
  }
  .footer .btn{
    margin-top: 15px;
  }
}

.profile-img-sm{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2rem auto;
  @extend %box-shadow;
}

.profile-img-md{
  display: none;
}
/* end jumbotron */

/* skills */
.skills{
  background-color: white;
  h2, p{ text-align: center; }
  h2.linebot::after{
    content: '';
    display: block;
    height: 3px;
    width: 35px;
    @extend %gradient-lightgreen;
    margin: 3px auto 0px;
    border-radius: 15px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .skill-group{
    text-transform: uppercase;
    li{
      font-size: 12px;
      margin-bottom: 12px;
    }
    .progress{
      border: 1px solid #158040;
      box-shadow: 3px 3px 3px rgba(0,0,0,.125);
    }
    .progress .progress-bar{
      @extend %gradient-darkgreen;
    }
  }
  /* end skill group */
}
/* end skills */

/* experiences */
.experiences{
  %bg-color-lightgrey{
    background-color: $color-lightgrey;
  }
  .row{
    @extend %bg-color-lightgrey;
  }
  h2.linebot::after{
    content: '';
    display: block;
    height: 3px;
    width: 85px;
    @extend %gradient-lightgreen;
    margin: 3px 0px 0px 0px;
    border-radius: 15px;
  }

  .body{
    box-sizing: border-box;
    padding: 1rem;
    @extend %bg-color-lightgrey;
    max-height: 380px;
    overflow-y: auto;
  }

  .card{
    $color-superlightgrey: rgba(0,0,0,.125);
    border-radius: 1.2rem;
    box-shadow: 3px 3px 3px $color-superlightgrey;
    margin-bottom: 25px;
    .card-title{
      font-weight: bold;
      padding-bottom: 8px;
    }
    .card-title.with-border{
      border-bottom: 1px solid $color-superlightgrey;
    }
  }
}
/* end experiences */

/* projects */
.projects{
  background-color: #e9ecef;
  @extend %title-lineleft;

  .col-md{
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .card{
    overflow: hidden;
    border-radius: 8px;
    @include transition(all 0.3s ease-in);
  }

  .card:hover{
    @include transform(scale(1.02));
    @extend %gradient-darkgreen;
    color:$color-lightgrey;
  }

  .footer{
    padding-top: 20px;
  }
}
/* end projects */

@media (min-width:991.98px) { @import "web"; }
