.article-detail {
  img.thumbnail {
    width: 100%;
    object-fit: cover;
  }

  .related-topics {
    .btn {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .btn:last-child {
      margin-right: 0px;
    }
  }

  .other-articles {
    ol {
      padding-left: 0px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 440px;
    }

    .article-item .article-item__title a {
      color: $body-color;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
