/* default variable & atribut */
  /*color*/
  $color-darkgrey: #333;
  $color-lightgrey: #f3f3f3;

  /* font */
  $font-medium: 18px;

  /*atribut*/
  %border-radius{ border-radius: 50px; }
  %box-shadow{ box-shadow: 3px 3px 10px $color-darkgrey; }
  %box-shadow-medium{ box-shadow: 2px 2px 1px rgba(0,0,0,.125); }
  %font-shadow{ text-shadow: 1px 1px rgba(0,0,0,.7); }
  %gradient-lightgreen{ background-image: linear-gradient( to bottom left, #158040 35%, #D3DE36 ); }
  %gradient-darkgreen{ background-image: linear-gradient( to bottom left, #349946, #1A4790 ) !important; }
  %title-lineleft{
    h2{
      position: relative;
      padding-left: 0.7rem;
    }

    h2.lineleft::before{
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      padding: 1px;
      width: 3px;
      height: 100%;
      @extend %gradient-lightgreen;
    }
  }
/* end default variable & atribut */

/* default animation */
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
/* end default animation */

/* font */
h1{ font-size: 20px !important; }

h2{
  font-size: $font-medium !important;
  font-weight: bold;
}

h5{
  font-size: 16px !important;
  font-weight: bold;
}

p{ font-size: 12px; }

/* layout */
html { scroll-behavior: smooth; }

body{
  background-color: $color-lightgrey;
  color:$color-darkgrey;
}

.container{ max-width: 85%; }

section{ padding: 2rem 0rem; }

/* component */
img{
  width:100%;
}

.scrollTop{
  color:white;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  @include transform(scale(0));
  @include transition(scale 0.5s);
}

.scrollTop.show{
  @include transform(scale(1));
  @include transition(transform 0.5s);
}

.btn-folio{
  $color-green: #158040;
  border: none;
  @extend %border-radius;
  padding: 0.75rem 1rem;
  box-shadow: 5px 5px 1px rgba(0,0,0,.125);
  font-weight: bold !important;
  @include transition(all 0.5s ease-out);
  &-outline{
    border: 1px solid $color-green;
    color: $color-green;
    @extend %border-radius;
    padding: 0.2rem 0.7rem;
    box-shadow: 3px 3px 3px rgba(0,0,0,.125);
    font-weight: bold !important;
    background-color: white;
    @include transition(background-color 0.8s ease-out);
  }
  &-outline:hover{
    border: 1px solid $color-green;
    color: white;
    background-color: $color-green;
  }
  &:hover{ @include transform(scale(1.1)); }
  &-primary{
    @extend %gradient-lightgreen;
    color: white !important;
  }
}

.btn-folio-sm{
  @extend .btn-folio;
  padding: 0.2rem 1rem !important;  
}
/* navbar */
.logo-brand-folio,
.title-brand-folio{
  display: inline-block;
}

.logo-brand-folio{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  @extend %box-shadow;
}

.title-brand-folio{
  padding-left: 15px;
  h5,
  p{
    margin:0px;
  }
}

/* contact */
.contact{
  color:$color-lightgrey;
  @extend %font-shadow;
  @extend %gradient-darkgreen;
  h2{
    position: relative;
    padding-left: 0.7rem;
  }
  h2.lineleft::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    padding: 1px;
    width: 3px;
    height: 100%;
    @extend %gradient-lightgreen;
    @extend %box-shadow-medium;
  }
  .text-muted{ color: #f3f3f3 !important; }
  textarea{ height: 182px; }
  .form-submit{
    padding: 50px 0px;
    text-align: center;
  }
}

/* social media */
.badge-item{
  color: $color-lightgrey;
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 0.7rem 0.7rem;
  margin: 0rem 0.1rem;
  width: 50px;
  height: auto;
  @extend %border-radius;
  @extend %box-shadow-medium;
  @include transition(all 0.5s ease-out);
  &:hover{
    cursor: pointer;
    @include transform(scale(1.2));
    color: white;
  }
  &.linkedin{
    background-color:#4267B2;
  }
  &.github{
    background-color:$color-darkgrey;
  }
  &.medium{
    background-color:black;
  }
  &.instagram{
    background-image: linear-gradient( to bottom left, #c17afc, #f42e78 );
  }
}
/* end social media */

/* footer */
footer{
  padding: 15px 0px;
  background-color: $color-darkgrey;
  color: $color-lightgrey;
  p{
    margin-bottom: 0px;
    font-size: 1rem;
  }
  .btn-link{
    color: $color-lightgrey;
    padding: 0.375rem 0.2rem;
  }
}

@media (min-width:991.98px) { @import "web"; }
