@import "default";

.navbar{ border-bottom: 1px solid $color-darkgrey; }
/* content */
.content{
  padding-top: 150px;
  @extend %title-lineleft;
  .banner{
    padding: 20px 0px 30px;
  }
}
